<!doctype html>
<html lang="ko"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.0/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.0/js/bootstrap.min.js"></script>
    <!-- sbb CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
    <!-- 제이쿼리 불러오기 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>Hello, sbb!</title>
</head>
<body style="min-height:100vh;" class="d-flex flex-column">
<!-- 네비게이션바 -->
<header th:replace="navbar :: navbarFragment"></header>

<!-- 기본 템플릿 안에 삽입될 내용 Start -->
<main class="flex-grow-1">
    <th:block layout:fragment="content"></th:block>
</main>
<!-- 기본 템플릿 안에 삽입될 내용 End -->

<footer class ="bg-dark text-light">
    <div class="container py-3 d-flex justify-content-center">
        Copyright all rights reserved
    </div>
</footer>

<!-- 자바스크립트는 HTML 구조에서 </body> 태그 바로 위에 삽입하는 것을 권장.화면 렌더링이 완료된 후에 자바스크립트가 실행되기 때문-->
<!-- 화면 렌더링이 완료되지 않은 상태에서 자바스크립트를 실행하면 오류가 발생할수도 있고 화면 로딩이 지연되는 문제가 발생할 수도 있음 -->
<!-- 따라서 템플릿에서 자바스크립트를 </body> 태그 바로 위에 삽입하기 위해 아래 block 코드 추가 -->

<!-- 자바스크립트 Start -->
<th:block layout:fragment="script"></th:block>
<!-- 자바스크립트 End -->

<!-- HTML이 전부 로딩 된 후, 실행되어야 하는 녀석(자바스크립트 코드)들은 밑에 두는게 좋다. -->
<script>
$("select[value]").each((index, node) => {
    const $select = $(node);
    const value = $select.attr("value");
    $select.find(`option[value="${value}"]`).prop("selected", true);
});
</script>
</body>
</html>